{% extends "base.html" %}
{% block title %}Admin Dashboard{% endblock %}
{% block content %}
<div class="content-section">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <div class="center">
                    <div class="panel">
                        <h3>To do</h3>
                        {% if unconfirmed_companies | length > 0 %}
                            <h4>{{ unconfirmed_companies | length }} users require company confirmation
                                <a href="{{url_for('admin.confirm_users') }}" class="btn btn-default" role="button">Go</a></h4>
                        {% endif %}
                    </div>
                    <div class="panel">
                        <h3>Logged in users</h3>
                        {% if logged_in_users | length > 0 %}
                            <ul>
                            {% for user in logged_in_users %}
                                <li>{{ user.first_name }} {{ user.last_name }} ({{ user.company.name }})
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div class="panel">
                        <h3>Projects</h3>
                        {{ projects | length }} projects
                        <br/>
                        {{ new_projects | length }} new
                        <br>
                        <a href="{{url_for('admin.list_projects') }}" class="btn btn-default" role="button">Project list</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% block footer %} {{  super() }} {% endblock footer%}
{% endblock %}
