{% extends "base.html" %}
{% block title %}Admin Dashboard{% endblock %}
{% block content %}
<div class="content-section">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <div class="center">
                    <div class="panel">
                        <h3>To do</h3>
                        {% if unconfirmed_companies | length > 0 %}
                            <h4>{{ unconfirmed_companies | length }} users require company confirmation
                                <a href="{{url_for('admin.confirm_users') }}" class="btn btn-primary" role="button">Go</a></h4>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% block footer %} {{  super() }} {% endblock footer%}
{% endblock %}
